.barra{
    width: 50%;
}
.barra10{
    width: 65%;
}
.barra20{
    width: 50%;
}
.barra30{
    width: 55%;
}
.barra40{
    width: 40%;
}
.barra50{
    width: 40%;
}
.barra60{
    width: 40%;
}
.img-fluid{
    width: 100%;
    height: 100%;
}